<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Добавление нового товара</h1>
        <span>Название</span>
        <div class="container2">
            <div class="photo"></div>
            <p>
                Здесь должно быть описание товара как можно более подробно
            </p>
        </div>
        <button>Добавить</button>
    </div>

</body>
</html>