body{
  background-color: black;
}
.container{
  background-color: rgb(228, 223, 215);
  width: 1400px;
  margin: auto;
  text-align: center;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1300px;
  height: 300px;
  margin: auto;
  
}
.game{
  background-color: rgb(145, 145, 145);
  margin-bottom: 20px;
  margin-left: 20px;
  width: 700px;
  height: 300px;
  position: relative;

}
.menu{
  background-color: rgb(145, 145, 145);
  margin-bottom: 20px;

}
#square{
  position: absolute;
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}