.main{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 600px;
    background-color: rgb(122, 122, 122);
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.massages{
    background-color: white;
    margin-bottom: 20px;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    
}
#in{
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.btn{
    width: 350px;
    height: 30px;
    border-radius: 20px;
    background-color: blue;
}
#mes{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 330px;
    height: 70px;
    background-color: rgb(109, 109, 226);
    border-radius: 20px;
    margin-top: 20px;
}
#user{
    margin-top: 3px;
    margin-right: 15px;
}
#text{
    margin-right: 40px;
}