
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
.container{
    width: 1400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    border: 2px solid;
}

.head{
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}
.menu_bt{
    width: 250px;
    height: 40px;
    margin-left: 40px;

}
.line{
    margin-left: 40px;
    font-size: 30px;
}
.container2{
    display: flex;
    flex-direction: row;
}

.banner{
    width: 1200px;
    height: 300px;
}
.menu2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;

}
.menu_bt2{
    width: 100px;
    height:30px;

}
.filter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
select{
    margin-left: 5px;
}
.film1{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.images{
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
}
.film2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.containerpopup{
    display: none;
    width:300px;
    height:400px;
    margin-top: 200px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid;
    text-align: center;
    position: absolute;
}
.textpopup{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.photopopup{
    width: 150px;
    height: 170px;
    border-radius: 5px;
}
.profilepopup{
    display: flex;
    justify-content: space-around;
    
}

.datapopup{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.text2popup{
    margin-left: 15px;
    width: 90%;
}
.btnpopup{
    padding: 10px 20px;
    border-radius: 20px;
}

