.container{
  background-color: rgb(204, 212, 212);
  width: 1400px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid;
  border-color: rgb(105, 141, 219);

}
button{
  background-color: rgb(90, 88, 201);
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
}
a{
  margin: auto;
}